html, body {
  height: 100%;
  background-color: $color-background;
  font-family: 'Puritan', sans-serif;
  ::-webkit-scrollbar{
    display: none;
  }
  ::-webkit-webkit-scrollbar{
    display: none;
  }
  ::-moz-webkit-scrollbar{
    display: none;
  }
}

.custum-input {
  &:disabled {
    background-color: $color-disabled;
  }
}

.style-general {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color-background;
}

.cercle {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  &__inactive {
    background-color: $incative;
  }
  &__active {
    background-color: $success;
  }
}