html, body, #app {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.custum-input {
  background-color: $primary;
  &:disabled {
    background-color: $primary;
  }
}
.cercle {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  &__inactive {
    background-color: $incative;
  }
  &__active {
    background-color: $success;
  }
}